html,body,header.masthead, section.h100{
  height: 100%;
}

body{
  background-color: #f8f9fa !important;
}

.valign{
  vertical-align: middle;
  line-height: 60px;
}

header.masthead{
  background-image: url(../img/bg-map.jpg);
  padding-top: 10rem;
}

section#keys-values,
section#features{
  max-width: 1300px;
  margin: 0 auto;
}

.center{
  margin: 0 auto;
}

img.logomarca{
  max-width: 100%;
  height: 150px;
}

.logo .title,
.no-gutters .showcase-text{
  font-family: 'Raleway', sans-serif;
}

.no-gutters .showcase-text h2{
  font-family: 'Roboto', sans-serif;
}

.logo .title{
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media (max-width: 768px) {

  .showcase .showcase-img{
    background-size: cover;
  }

  img.logomarca{
    height: auto;
  }
  .order-md-1{
    order: 1;
  }

  .order-md-2{
    order: 2;
  }

  .order-md-3{
    order: 3;
  }

  .order-md-4{
    order: 4;
  }

  .order-md-5{
    order: 5;
  }
  .order-md-6{
    order: 6;
  }
  .row {
    flex-direction: column;
  }

  .showcase-img{
      display: none;
  }
}

.showcase .showcase-img{
  background-size: 100% 480px;
  background-repeat: no-repeat;
}

.no-gutters{
  max-height: 480px;
  text-align: justify;
}

.showcase1 {
  background-image: url('../img/bg-showcase-1.jpg');
}

.showcase2 {
  background-image: url('../img/bg-showcase-kmz.jpg');
}

.showcase3{
  background-image: url('../img/bg-showcase-3.svg');
}

.features-icons {
    padding-top: 12rem;
    padding-bottom: 9rem;
}

.no-decoration,
.no-decoration:hover{
  text-decoration: none;
}

.text-primary-giiro{
  color: #7DA40D;
}

.btn-primary-giiro{
  background-color: #7DA40D;
  color: #fff;
}

.btn-primary-giiro:active,
.btn-primary-giiro:focus,
.btn-primary-giiro:visited{
  outline: 0;
  color: #fff;
  /*color: #7DA40D;*/
  box-shadow: 0 0 0 .2rem rgba(194, 228, 158, .50);
}

section{
    overflow: hidden;
}

#header{
  box-shadow: 0 0 5px rgba(0,0,0,.8);
  line-height: 28px;
}

.fixed-theme {
  background-color: #f5f6fa;
  border-color: #080808;
  z-index: 1;
  line-height: 42px !important;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
  transition: 0.8s;
  -webkit-transition:  0.8s;
}

.fixed{
  position: fixed;
  width: 100%;
  top: 0;
}